<div class="bg-gr cnt p-2">
<div class="ptr rounded-4 p-1">
<div class="cnt bg-gr p-2 rounded-4 mx-auto text-center">
<div class="logo">
<img id="logoimg" src="img/bg.webp" class="w-100 rounded-5" />
<div class="logoback p-4 rounded-4">
<h1 class="cl"><?- menu[0] ?></h1>
<p class="fs-5 id text-start"><?- menu[1] ?>
</p>
</div></div>

<div class="cl fs-1">ɪꜱʟᴀᴍɪᴄ ᴏɴʟɪɴᴇ</div>

<div class="container">
<div class="row">
  
<div class="col lf hover rounded-4 p-1 m-1">
<a href="/allsurah" class="a">
<img src="img/quran.png" class="w-50 img"/>
<div class="col id fs-5">
Qur'an
</div>
</a>
</div>
<div id="asma" class="col rg  hover rounded-4 p-1 m-1">
<a href="/asmaul_husna" class="a">
<img src="img/asma.png" class="w-50 img rounded-circle"/>
<div class="col id fs-6">
Asmaul Husnah
</div>
</a>
</div>
</div>
<div class="row">
<div class="col tp hover rounded-4 p-1 m-1">
<a href="/juzz_amma" class="a">
<img src="img/juz-amma.png" class="w-50 img"/>
<p class="id fs-5">Juzz Amma</p>
</a>
</div>
<div class="col tahlil tp hover rounded-4 p-1 m-1">
<a href="/tahlil" class="a">
<img src="img/tahlil.png" class="w-50 rounded-circle img"/>
<p class="id fs-5">Tahlil</p>
</a>
</div></div></div></div></div></div>
