  
<div class="container p-2 rounded-3 text-center">

<div class="logo" role="button">
<img alt="Iqro'" id="logoimg" src="img/bg.webp" class="w-100 rounded-5" />
<div class="logoback p-4 rounded-4">
<h1 class="id fs-1"><?- menu[0] ?></h1>
<p class="fs-5 id text-start"><?- menu[1] ?>
</p>
</div>
</div>


<div class="container">
<div class="row ">
  
<div class="col bg-white hover rounded-4 p-1 m-1">
<a href="/allsurah" class="a">
<img alt="Iqro'" src="img/quran.png" class="w-50 img"/>
<p class="id fs-5">
Qur'an
</p>
</a>
</div>

<div class="col bg-white hover rounded-4 p-1 m-1">
<a href="/asmaul_husna" class="a">
<img alt="Iqro'" src="img/asma.png" class="w-50 img rounded-circle"/>
<p class="id fs-5">Asmaul Husnah</p>
</a>
</div>
</div>

<div class="row">
<div class="col bg-white hover rounded-4 p-1 m-1">
<a href="#" class="a">
<img alt="Iqro'" src="img/juz-amma.png" class="w-50 img"/>
<p class="id fs-5">Juzz Amma</p>
</a>
</div>
<div class="col bg-white tahlil hover rounded-4 p-1 m-1">
<a href="/tahlil" class="a">
<img alt="Iqro'" src="img/tahlil.png" class="w-50 rounded-circle img"/>
<p class="id fs-5">Tahlil</p>
</a>
</div></div>

</div>
</div>


