

<div class="container">
<?  menu[6]().forEach(i => {?>

<div class="row mb-1 p-2 text-bg-light shadowi rounded-5">
    <p class="id text-center fs-4">
      <?- i.no +". "+ i.judul ?>
    </p>
    <p class="arab fs-1">
      <?-  i.arab ?>
    </p>
    <p class="id fs-6">
      <?- i.id ?>
    </p>
  </div>
<? }); ?>
</div>